@import '../lib';

.header {
    border-top-color: $castle-skull-gray;
    gradient-two-color($castle-skull-gray, #000);
    gradient-two-color(#000, $castle-skull-gray);
    //gradient-two-color(hotpink, $castle-skull-gray);
    //gradient-two-color($castle-skull-gray, hotpink);
    //gradient-two-color(pink, hotpink);
    //gradient-two-color(#000, hotpink);
}

.header, .secondary-header {
    &:before {
        bottom: -3px;
        gradientLinear(unquote('to top, rgba(0,0,0,0) 0%, rgba(0,0,0,0.2) 100%'));
        height: 3px;
        display:none;
    }
}

.site-header .wordmark {
    background-image: url(../../img/pretty/after_hours.png);
    background-position: -1px 50%;
}

@media (min-width: 540px) {
    .site-header .wordmark {
        width: 150%;
    }
}

@media (min-width: 710px) {
    .site-header .wordmark {
        background-size: auto 37px;
    }
}

@media $at-least-desktop {
    .site-header .site,
    .site-header .wordmark {
        width: 240px;
        max-width: 240px;
    }
}


.secondary-header,
.show-cats .dropdown a {
    background: none;
}

body {
    background: $castle-skull-gray;
}


.show-cats .dropdown a {
    color: #fff;
    text-shadow: none;
}

@media $narrower-than-desktop {
    .secondary-header {
        background: lighten($sailor-blue, 30%);
        border-top: 0;
    }
    .gallery {
        background: $castle-skull-gray;
    }
    .show-cats .dropdown a:hover {
        color: darken($sailor-blue, 60%);
    }
}

@media $at-least-desktop {
    html, #footer {
        background: $grey-gardens-gray;
    }
    .show-cats .cat-menu {
        box-shadow: 0 1px 1px #000;
    }
    .show-cats .dropdown a:hover {
        color: lighten($sailor-blue, 60%);
    }
}

.category {
    &.featured {
        border-top-color: hotpink;
    }
}

#search-q {
    background: $castle-skull-gray;
    border-color: darken(lime, 30%);
    color: chartreuse;
    &:-moz-placeholder {
        color: chartreuse;
    }
    &::-moz-placeholder {
        color: chartreuse;
    }
    &::-webkit-input-placeholder {
        color: chartreuse;
    }
}

form {
    input[type=email], input[type=text], #search-q, textarea {
        &:focus {
            border-color: chartreuse;
            box-shadow: 0 0 8px chartreuse;
        }
    }
}

.secondary-header {
    h2, h3 {
        color: #333;
    }
}

@media $narrower-than-desktop {
    .subtitle {
        display: none !important;
    }
}

@media $at-least-desktop {
    .secondary-header {
        h2, h3 {
            color: pink;
        }
    }
    nav {
        position: relative;
    }
    .subtitle {
        color: lighten(hotpink, 15%);
        display: block;
        font: 22px/1 'comic sans', 'marker felt';
        text-shadow: 0 1px 35px lighten(yellow, 25%);
        font-weight: 600;
        position: relative;
        //left: -168px;
        left: -200px;
        top: 25px;
        transform(unquote('rotate(-3deg)'));
        white-space: nowrap;
    }
}

.toggles {
    li + li {
        border-color: $sailor-blue;
    }
    a {
        &.sel, &:active {
            color: #fff;
        }
    }
}

.form-grid footer .extras {
    background: $castle-skull-gray;
}

.button, .button:visited, button {
    // Bluish.
    border-color: darken(tomato, 25%);
    gradient-two-color(hotpink, tomato);
    &:hover, &:focus {
        gradient-two-color(darken(hotpink, 10%), darken(tomato, 10%));
    }
    &:active {
        border-color: hotpink;
    }
}

.button.alt,
button.alt {
    box-shadow: 0 1px 0 #333, 0 1px 1px $salt-flat-white inset;
}

.listing li.item {
    border-color: hotpink;
    &:hover {
        border-color: chartreuse;
    }
}
